<!doctype html> 
<html ng-app = "quizAdminApp">

<head>
	
	<title>nj-quiz | Making news quizzes easy</title>
	
	<!-- Angular.js -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>

	<!-- FontAwesome -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

	<!-- Homegrown stylesheets -->
	<link rel="stylesheet" href="styles.css" />

	<!-- Quiz stylesheets -->
	<!--<link rel="stylesheet" href="../quiz/styles.css" />-->

</head>

<body ng-controller="quizAdminController">
	
	<div class = "header">
		<div class = "social">
			<a href="https://github.com/arm5077/nj-quiz" target="_blank"><i class="fa fa-github social"></i></a>
		</div>
		
		<h4>this is <strong>nj-quiz</strong></h4>
		
		
	</div>
	
	<div class = "container">
		<div class = "section" id="slug">
			<h1 class = "center">What's the slug for this quiz?</h1>
			<h2 class="center">You can make one up, if you want.</h2>
			<div class = "inputBlock center">
				<input type="text" ng-model="slug" class="simple center" />
				<span class="btn" ng-class="{disabled: !slug}" ng-click="handleSlug()" >Go</span>
			</div>
		</div>
		
		<div class = "section" ng-show="data" style="background-color: #C8DCEB;">
			<h2 class = "center">OK, let's take care of the overall stuff...</h2>
			<div class = "inputCollection shaded">
				
				<div class="inputBlock">
					<label>Title</label>
					<input type="text" ng-model="data.title" />
				</div>

				<div class="inputBlock">				
					<label>Intro text</label>
					<input type="text" ng-model="data.text" />
				</div>
				
				<div class="inputBlock">				
					<label>Story URL (yes, the eventual story URL! Get this from nstein)</label>
					<input type="text" ng-model="data.url" />
				</div>
			</div>
				
			<h3 class = "center separator">What do you want the quiz to tell people when they finish?</h3>
			
			<div class = "inputCollection shaded">
				<div class="inputBlock">				
					<label>Response for bronze-level finish</label>
					<input type="text" ng-model="data.bronzeResponse" />
				</div>
				
				<div class="inputBlock">				
					<label>Response for silver-level finish</label>
					<input type="text" ng-model="data.silverResponse" />
				</div>
				
				<div class="inputBlock">
					<label>Response for gold-level finish</label>
					<input type="text" ng-model="data.goldResponse" />
				</div>
			</div>
		</div>
		
		<div class = "preview section" ng-show = "data && data.questions.length != 0" style="background-color: #FCEA94;">

			<h2 class = "center">Here are the questions you have so far. (Click a title to edit.)</h2>

			<div class = "accordian" ng-repeat="question in data.questions" ng-class="{expanded: question.expanded }">
				<i class="fa fa-trash-o" ng-click="deleteQuestion(question)"></i>
				<h3 ng-click="question.expanded = !question.expanded">{{question.title}} <span class="note">{{question.expanded ? "Collapse" : "Expand"}}</span></h3>
				<div class = "inputCollection shaded">
					<div ng-include = "'questionBlock.html'"></div>
				</div>
			</div>



		</div>
		
		
		<div class = "section" ng-show="data" style="background-color: #9DBFB9;">
			<h2 class="center">And let's add some questions!</h2>
			
			<div class = "inputCollection shaded" ng-show="newQuestion==false">
				<div class="btn big" ng-class="" ng-click="newQuestion=true" >Add question</div>
			</div>
			
			<div ng-include = "'insertQuestion.html'" ng-show="newQuestion == true"></div>
		</div>
		
		<div class = "section" ng-show="data">
			<h2 class = "center">All done? Save the quiz when you're ready.</h2>
			<div class="btn big" ng-click="submitQuiz()">Save</div>
			
			<div id = "success" ng-show="success">Successfully saved!</div>
			<div id = "error" ng-show="error">{{errorMessage}}</div>
			
			<div class="embed inputCollection dashed" ng-show = "showEmbed">
				<div class="inputBlock">	
					<label>Direct link</label>
					<input type="text" value="http://{{ host + '/quiz/?id=' + slug}}" />
				</div>
				
				<div class="inputBlock">	
					<label>Nstein embed code</label>
					<input type="text" value="<script src='https://s3-us-west-2.amazonaws.com/nationaljournal/countdown/pym.js'></script><p id='pym' class = 'http://{{ host + '/quiz/?id=' + slug}}'></p><script src='{{ host + '/embed'}}'></script>" />
				</div>
				
			</div>
		
		</div>
		
		
		
	</div>
</body>

<script src="app.js"></script>

</html>