<div class = "insertQuestion">
	<div class = "inputCollection shaded">
		
		<div class="inputBlock">
			<label>Question title</label>
			<input type="text" ng-model="question.title" class = "title" />
		</div>

		<div class="inputBlock">				
			<label>Question text</label>
			<input type="text" ng-model="question.text" />
		</div>

		<div class="inputBlock">				
			<label>Image URL (if you want an overall image)</label>
			<input type="text" ng-model="question.img" />
		</div>

		<div class = "answerBlock" ng-show="question.answers">
			<h3>Current answers</h3>
			<form class = "answer" ng-repeat = "answer in question.answers">
				<div class="inputBlock">				
					<label>Answer title</label>
					<input type="text" ng-model="answer.title" />
				</div>

				<div class="inputBlock">				
					<label>Answer image (if any)</label>
					<input type="text" ng-model="answer.img" />
				</div>

				<div class="inputBlock">
					<label>Correct or incorrect?</label>
					<input type="radio" ng-model="answer.correct" ng-value = "true"/> Correct
					<input type="radio" ng-model="answer.correct" ng-value = "false"/> Incorrect
				</div>

				<div class="inputBlock">				
					<label>Message title to display after answer</label>
					<input type="text" ng-model="answer.messageTitle" />
				</div>

				<div class="inputBlock">				
					<label>Message text to display after answer</label>
					<input type="text" ng-model="answer.message" />
				</div>

			</form>
		</div>
	
		<div class="btn" ng-class="" ng-click="newAnswer = true" ng-show="newAnswer==false && question.title" style="margin-bottom:10px" >Add answer</div>
	
		<div class = "newAnswerBlock" ng-show="newAnswer == true">
			<h3>Add a new answer</h3>
			<div class="inputBlock">				
				<label>Answer title</label>
				<input type="text" ng-model="temp.title" />
			</div>

			<div class="inputBlock">				
				<label>Answer image (if any)</label>
				<input type="text" ng-model="temp.img" />
			</div>

			<div class="inputBlock">
				<label>Correct or incorrect?</label>
				<input type="radio" ng-model="temp.correct" ng-value = "true"/> Correct
				<input type="radio" ng-model="temp.correct" ng-value = "false"/> Incorrect
			</div>
		
			<div class="inputBlock">				
				<label>Message title to display after answer</label>
				<input type="text" ng-model="temp.messageTitle" />
			</div>
		
			<div class="inputBlock">				
				<label>Message text to display after answer</label>
				<input type="text" ng-model="temp.message" />
			</div>

			<div class="btn" ng-class="" ng-hide="!temp.title || temp.correct == null || !temp.messageTitle || !temp.message" ng-click="addAnswer(temp, question); newAnswer=false">Save answer</div>
			<div class="btn disabled" ng-class="" ng-show="!temp.title || temp.correct == null || !temp.messageTitle || !temp.message">Save answer</div>
			<!-- The above is super inelegant, fix when my brain is working again -->
		
		</div>
	
			<div class="btn big" ng-class="" ng-click="addQuestion(question)" ng-show="question.answers.length > 0" >Save question</div>
	
	</div>
	

	
</div>